 .department-cards{

 	height: 400px;
 	width: 100%; 

 }

table.table-bordered tr{
   height: 20px;
}

 .my-custom-scrollbar {
position: relative;
height: 330px;
overflow: scroll;
}
.table-wrapper-scroll-y {
display: block;
}

.scandepartment-list{
	width: 75%;
	float: left;  
}

.scanpoint-list{
	width: 75%;
	float: left; 
}

.create-card{
	width: 25%;
	float: left;
}

h1{
	text-align: center;
}

.inline-block{
    display: inline-block;

}